*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
img{
    display: block;
    height: auto;
    max-width: 100%;
}

/* header area styles  */
header{
    width: 85%;
    height: 78vh;
    margin: 50px auto;
    background-image: url('resources/Banner\ Image.png');
    position: relative;
    border-radius: 15px;
}
.header-content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-subtitle{
    font-size: 32px;
    color: #fff;
}
.header-title{
    font-size: 72px;
    color: #fff;
}

/* discount area styles  */
.discount{
    width: 40%;
    margin: 100px auto;
    text-align: center;
}
.discount-title{
    color: #FF0000;
    font-size: 88px;
}
.discount-description{
    color: #FF0000;
    font-size: 24px;
    margin: 30px 0 10px 0;
}
.discount-subtitle{
    color: #070211;
    font-size: 48px;
    margin-bottom: 20px;
}

/* party area styles  */
.party{
    width: 85%;
    margin: 100px auto;
    height: 100vh;
    background-image: url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.party-content{
    padding: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.party-text{
    width: 60%;
}
.party-image{
    width: 30%;
}
.party-title{
    font-size: 64px;
    color: #fff;
}
.party-description{
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
}
.party-btn{

}
.btn{
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700;
    background-color: #FF0000;
    border: 1px solid #FF0000;
    border-radius: 5px;
}

/* place area styles  */
.place-area{
    width: 85%;
    margin: 0 auto;
    background-image: linear-gradient(#e19d9d, #fff);
    height: 50vh;
    border-radius: 15px;
    position: relative;
}
.place-area-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.place, .date, .time{
    color: #070211;
    font-size: 32px;
    margin: 20px 0;
}
.color{
    color: #FF0000;
}

/* offer area styles  */
.offer{
    width: 85%;
    margin: 150px auto;
}
.offer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offer-left, .offer-image, .offer-right{
    width: 25%;
}
.offer-subtitle{
    color: #FF0000;
    font-size: 24px;
}
.offer-title{
    font-size: 48px;
    color: #070211;
}
.offer-description{
    color: #07021160;
    font-size: 20px;
    margin: 15px 0;
}
.offer-image{
    border: 15px solid #FF0000;
    padding: 15px;
    border-radius: 50%;
}
.year{
    color: #FF0000;
    font-size: 48px;
}

/* holidays area styles  */
.holidays{
    width: 85%;
    margin: 100px auto; 
}
.holidays-content{}
.holidays-text{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.holidays-subtitle{
    color: #070211;
    font-size: 24px;
}
.holidays-title{
    font-size: 72px;
    color: #070211;
}
.holidays-description{
    font-size: 20px;
    color: #07021160;
    margin: 15px 0;
}
.holidays-images{
    margin: 100px 0;
    position: relative;
}
.girl{
    position: absolute;
    right: 0;
}
.rectangle{
    position: absolute;
    top: 433px;
}
.box{
    position: absolute;
    top: 0;
}
.fifty{
    position: absolute;
    right: 250px;
}

/* portfilio area styles  */
.portfolio{
    width: 85%;
    margin: 0 auto;
    margin-top: 55%;
}
.portfolio-text{
    width: 60%;
    margin-bottom: 50px;
}
.portfolio-subtitle{
    color: #FF0000;
    font-size: 24px;
}
.portfolio-title{
    color: #070211;
    font-size: 48px;
    margin: 10px 0;
}
.portfolio-description{
    color: #07021160;
    font-size: 20px;
}
.portfolio-gallary{
    display: flex;
    gap: 20px;
}

/* subscribe area styles  */
.subscribe{
    width: 85%;
    margin: 100px auto;
    padding: 50px 0;
    background-color: #fff2e2;
    text-align: center;
    border-radius: 15px;
}
.subscribe img{
    margin: 0 auto;
}
.subscribe-title{
    color: #070211;
    font-size: 48px;
}
.subscribe-description{
    color: #07021160;
    font-size: 20px;
    margin: 20px 0;
}
input[type="email"]{
    padding: 25px 30px;
    border: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
input[type="submit"]{
    padding: 25px 30px;
    border: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #FF0000;
    color: #fff;
}